.input{
    font-size: 300;
}

ion-item{
    --background: #dddada;
    border-radius: 10px;
    margin-bottom: 16px;
}
.header{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color: rgb(0, 0, 0);
        font-size: 0.9rem;
    }
    title{
        font-size: 2rem;
    }
}