<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <h1>COMPAÑIA</h1>
    <H1>SOBRE NOSOTROS</H1>
    <H1>TRABAJA CON NOSOTROS</H1>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title class="animated-text">Go! {{data.usuario}} </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  
  <ion-content class="ion-padding">
    <ion-card color="medium">
      <ion-card-header>
        <ion-card-title>Usuario: {{data.usuario}}</ion-card-title>
        <ion-card-subtitle>Buscar Estacionamiento</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content> Agendar Estacionamiento </ion-card-content>
    </ion-card>
  </ion-content>
</div>

