.animated-text {
    font-size: 2rem;
    color: #ffffff; /* Color inicial del texto */
    animation: textBounce 1s infinite ;
  }
  
  @keyframes textBounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-5px); /* Altura del rebote */
    }
    60% {
      transform: translateY(-10px); /* Altura del rebote */
    }
    100% {
      color: #fbfbfb; /* Color deseado */
    }
  }

  h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


    .parking-card {
      margin: 10px;
      padding: 10px;
    }
  
    ion-card-content {
      display: flex;
      align-items: center;
    }
  
    ion-icon {
      font-size: 2rem;
      margin-right: 10px;
    }
